<div class="right_icon_bar">
  <ul>
    <li><a [routerLink]="['/ready-app/inbox']"><i class="fa fa-envelope"></i></a></li>
    <li><a [routerLink]="['/ready-app/chat']"><i class="fa fa-comments"></i></a></li>
    <li><a [routerLink]="['/ready-app/calendar']"><i class="fa fa-calendar"></i></a></li>
    <li><a [routerLink]="['/ready-app/file-manager/dashboard']"><i class="fa fa-folder"></i></a></li>
    <li><a [routerLink]="['/ready-app/contact-list']"><i class="fa fa-id-card"></i></a></li>
    <li><a [routerLink]="['/ready-app/blog/blog-list']"><i class="fa fa-globe"></i></a></li>
    <li><a href="javascript:void(0);"><i class="fa fa-plus"></i></a></li>
    <li><a href="javascript:void(0);" class="right_icon_btn" (click)="rightToggle()"><i
          class="fa fa-angle-right"></i></a></li>
  </ul>
</div>
