<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Drag & Drop File Upload</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Drag & Drop</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Default <small>Taken from: https://github.com/JeremyFagis/dropify</small></h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>With event and default file <small>try to remove the image</small></h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>Disabled file upload</h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Limit file type <small>try to upload png or pdf only</small></h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>Limit file size <small>try to upload file larger than 100 KB</small></h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>Custom messages for default <small>replace, remove and error</small></h2>
      </div>
      <div class="body">
        <ngx-dropzone class="dropify" (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>

</div>
