<div class="file_manager">
  <div class="block-header">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <h2>Documents</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
                  <li class="breadcrumb-item">App</li>
                  <li class="breadcrumb-item active">File Manager</li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="d-flex flex-row-reverse">
                  <div class="page_action">
                      <button type="button" class="btn btn-primary mr-1">Generate Report</button>
                      <button type="button" class="btn btn-secondary">Upload new</button>
                  </div>
                  <div class="p-2 d-flex">

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row clearfix">
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 42KB <span class="date text-muted">Nov 02, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 89KB <span class="date text-muted">Dec 15, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 89KB <span class="date text-muted">Dec 15, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2018.xls</p>
                          <small>Size: 68KB <span class="date text-muted">Dec 12, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2018.xls</p>
                          <small>Size: 68KB <span class="date text-muted">Dec 12, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-success"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">asdf  hhkj.pdf</p>
                          <small>Size: 3MB <span class="date text-muted">Aug 18, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-success"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">asdf  hhkj.pdf</p>
                          <small>Size: 3MB <span class="date text-muted">Aug 18, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-success"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">asdf  hhkj.pdf</p>
                          <small>Size: 3MB <span class="date text-muted">Aug 18, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-success"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">asdf  hhkj.pdf</p>
                          <small>Size: 3MB <span class="date text-muted">Aug 18, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2018.xls</p>
                          <small>Size: 68KB <span class="date text-muted">Dec 12, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2019.xls</p>
                          <small>Size: 103KB <span class="date text-muted">Jan 24, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2018.xls</p>
                          <small>Size: 68KB <span class="date text-muted">Dec 12, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 42KB <span class="date text-muted">Nov 02, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 89KB <span class="date text-muted">Dec 15, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-bar-chart text-warning"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Report2019.xls</p>
                          <small>Size: 103KB <span class="date text-muted">Jan 24, 2018</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card">
              <div class="file">
                  <a href="javascript:void(0);">
                      <div class="hover">
                          <button type="button" class="btn btn-icon btn-danger">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                      <div class="icon">
                          <i class="fa fa-file text-info"></i>
                      </div>
                      <div class="file-name">
                          <p class="m-b-5 text-muted">Document_2019.doc</p>
                          <small>Size: 89KB <span class="date text-muted">Dec 15, 2019</span></small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>

</div>
