<div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Yandex Map</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
          <li class="breadcrumb-item">Map</li>
          <li class="breadcrumb-item active">Yandex Map</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex flex-row-reverse">
          <div class="page_action">
            <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
          </div>
          <div class="p-2 d-flex">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>Basic Example</h2>
        </div>
        <div class="polyline">
          <ya-map [center]="points" [zoom]="12" (load)="onLoad($event)">
          </ya-map>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>Markers</h2>
        </div>
        <div class="polyline">
          <ya-map [center]="points" (load)="onLoad($event)">
            <ya-clusterer>
              <ya-placemark [geometry]="points"></ya-placemark>
            </ya-clusterer>
          </ya-map>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>Polyline</h2>
        </div>
        <div class="polyline">
          <ya-map [center]="[55.73, 38.2]" [zoom]="10">
            <ya-geoobject [feature]="feature" [options]="options"></ya-geoobject>
          </ya-map>
        </div>
      </div>
    </div>
  </div>
