<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Chart Widgets</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Widgets</li>
        <li class="breadcrumb-item active">Chart</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Top Products</h2>
        <ul class="header-dropdown">
          <ico-common-action-dropdown></ico-common-action-dropdown>
        </ul>
      </div>
      <div class="body">
        <div echarts [options]="incomeValueChartOption" id="Household-Income" style="height: 400px" [autoResize]="true">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="body text-center">
        <h4 class="margin-0">Total Sale</h4>
        <h6 class="m-b-20">2,45,124</h6>
        <div echarts [options]="totalSale" style="height: 130px" [autoResize]="true"></div>
        <div echarts [options]="weeklyEarnings" style="height: 40px" [autoResize]="true"></div>
        <h6 class="p-b-15">Weekly Earnings</h6>
        <div echarts [options]="montlyEarnings" style="height: 40px" [autoResize]="true"></div>
        <h6>Monthly Earnings</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card text-center">
      <div class="body">
        <h6>Income Analysis</h6>
        <span>8% High then last month</span>
        <div style="display: inline-block; width: 180px; height: 200px; vertical-align: top;" id="chart-pie"
          class="sparkline-pie m-t-30"></div>
        <div class="stats-report m-b-30">
          <div class="stat-item">
            <h5>Science</h5>
            <b class="col-black">84.60%</b>
          </div>
          <div class="stat-item">
            <h5>Commerce</h5>
            <b class="col-black">15.40%</b>
          </div>
          <div class="stat-item">
            <h5>Atrs</h5>
            <b class="col-black">5.10%</b>
          </div>
        </div>
        <span id="sparkline-compositeline">
          <div echarts [options]="incomeAnalisisLineOption" style="height: 40px" [autoResize]="true"></div>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Visitors Statistics</h2>
      </div>
      <div class="body">
        <div id="Visitors_chart" class="flot-chart m-b-20">
          <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels" [markers]="markers" [title]="title"
            [fill]="fill" [yaxis]="yaxis" [xaxis]="xaxis" [tooltip]="tooltip" [autoUpdateSeries]="true"></apx-chart>
        </div>
        <div class="row text-center">
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-turquoise">
              <h4>2,025</h4>
              <span>America</span>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-khaki">
              <h4>992</h4>
              <span>Australia</span>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-parpl">
              <h4>1,025</h4>
              <span>Canada</span>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-salmon">
              <h4>3,845</h4>
              <span>India</span>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-blue">
              <h4>587</h4>
              <span>UK</span>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="body xl-slategray">
              <h4>863</h4>
              <span>Other</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Line Chart</h2>
      </div>
      <div class="body text-center">
        <div>
          <div echarts [options]="lineChartOption" style="height: 100px" [autoResize]="true"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <p class="mb-0">TYPE A</p>
            <h6>320</h6>
          </div>
          <div class="col-4">
            <p class="mb-0">TYPE B</p>
            <h6>530</h6>
          </div>
          <div class="col-4">
            <p class="mb-0">TYPE C</p>
            <h6>300</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>Commerce Department</h2>
      </div>
      <div class="body text-center">
        <div echarts [options]="commerceDepartment" style="height: 100px" [autoResize]="true"></div>
        <hr>
        <div class="row">
          <div class="col-4">
            <p class="mb-0">TYPE A</p>
            <h6>320</h6>
          </div>
          <div class="col-4">
            <p class="mb-0">TYPE B</p>
            <h6>530</h6>
          </div>
          <div class="col-4">
            <p class="mb-0">TYPE C</p>
            <h6>300</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="body">
        <div id="newline_chart" class="ct-chart">
          <div echarts [options]="newline_chart" style="height: 300px" [autoResize]="true"></div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-6 col-md-12">
        <div class="card overflowhidden">
          <div class="header">
            <h2><strong>Project</strong> A</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-3 col-4">
                <span>Overall</span>
                <h6>70.40%</h6>
              </div>
              <div class="col-md-3 col-4">
                <span>Montly</span>
                <h6>25.80%</h6>
              </div>
              <div class="col-md-3 col-4">
                <span>Day</span>
                <h6>12.50%</h6>
              </div>
            </div>
          </div>
          <div echarts [options]="projectA" class="sparkline" style="height:50px;"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card overflowhidden">
          <div class="header">
            <h2><strong>Project</strong> B</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-3 col-4">
                <span>Overall</span>
                <h6>70.40%</h6>
              </div>
              <div class="col-md-3 col-4">
                <span>Montly</span>
                <h6>25.80%</h6>
              </div>
              <div class="col-md-3 col-4">
                <span>Day</span>
                <h6>12.50%</h6>
              </div>
            </div>
          </div>
          <div echarts [options]="projectB" class="sparkline" style="height:50px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Visit By Traffic Types <small>8% High then last month</small></h2>
      </div>
      <div class="body text-center">
        <div style="display: inline-block; width: 180px; height: 160px; vertical-align: top;" id="chart-pie-2"
          class="sparkline-pie m-t-30"></div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <tbody>
              <tr>
                <td>
                  <small>Page Views</small>
                  <h5 class="mb-0">32,211,536</h5>
                </td>
                <td>
                  <div echarts [options]="pageView" class="sparkline" style="height: 26px;width: 97%;"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <small>Site Visitors</small>
                  <h5 class="mb-0">23,516</h5>
                </td>
                <td>
                  <div echarts [options]="siteVisitor" class="sparkline" style="height: 26px;width: 97%;"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <small>Total Clicks</small>
                  <h5 class="mb-0">4,536</h5>
                </td>
                <td>
                  <div echarts [options]="totalClicks" class="sparkline" style="height: 26px;width: 97%;"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Donut Chart</h2>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div id="donut_chart" echarts [options]="deviceOption" id="Use-by-Device" style="height: 16rem"
              [autoResize]="true"></div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="progress-container m-b-20">
              <span class="progress-badge">visitor from America</span>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"
                  style="width: 86%;">
                  <span class="progress-value">86%</span>
                </div>
              </div>
            </div>
            <div class="progress-container m-b-20">
              <span class="progress-badge">visitor from Canada</span>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"
                  style="width: 36%;">
                  <span class="progress-value">86%</span>
                </div>
              </div>
            </div>
            <div class="progress-container m-b-20">
              <span class="progress-badge">visitor from UK</span>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"
                  style="width: 23%;">
                  <span class="progress-value">86%</span>
                </div>
              </div>
            </div>
            <div class="progress-container m-b-20">
              <span class="progress-badge">visitor from India</span>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"
                  style="width: 57%;">
                  <span class="progress-value">86%</span>
                </div>
              </div>
            </div>
            <div class="progress-container m-b-20">
              <span class="progress-badge">visitor from Australia</span>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"
                  style="width: 42%;">
                  <span class="progress-value">86%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card overflowhidden bg-info">
      <div class="body">
        <h6 class="text-light">Daily Sales</h6>
      </div>
      <div echarts [options]="dailySales" class="sparkline" style="height:102px;"></div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-6 col-md-12">
    <div class="card visitors-map">
      <div class="header">
        <h2>Our Location</h2>
        <ul class="header-dropdown">
          <ico-common-action-dropdown></ico-common-action-dropdown>
        </ul>
      </div>
      <div class="body">
        <div id="world-map-markers" style="height:290px;"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card overflowhidden w_bitcoin">
      <div class="body">
        <small>BTC</small>
        <h2>0.0115</h2>
        <h6>Bitcoin Earnings</h6>
        <p>It is a long established fact that<br> a reader will be distracted <br> by the readable</p>
        <button class="btn btn-primary btn-simple ">View Statements </button>
      </div>
      <div id="sparkline16" class="text-center"></div>
    </div>
  </div>
</div>
