<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Markdown</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Markdown</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Markdown Editor</h2>
      </div>
      <div class="body">
        <p class="margin-bottom-30">Markdown editing meet Bootstrap</p>
        <md-editor #md="ngModel" name="Content" (onEditorLoaded)="onEditorLoaded($event)" [preRender]="preRender"
          [postRender]="postRender" (onPreviewDomChanged)="onPreviewDomChanged($event)" [(ngModel)]="content"
          [mode]="mode" [options]="options" required maxlength="600" height="400px"></md-editor>
      </div>
    </div>
  </div>
</div>
