<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>C3 Chart</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Charts</li>
        <li class="breadcrumb-item active">C3 Chart</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Employment Growth</h2>
      </div>
      <div class="body">
        <div id="chart-employment"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Monthly Average Temperature</h2>
      </div>
      <div class="body">
        <div id="chart-temperature"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Area Chart</h2>
      </div>
      <div class="body">
        <div id="chart-area"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Lorem ipsum</h2>
      </div>
      <div class="body">
        <div id="chart-area-spline"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Area Chart Sracked</h2>
      </div>
      <div class="body">
        <div id="chart-area-spline-sracked"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Wind speed during two days</h2>
      </div>
      <div class="body">
        <div id="chart-spline"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Rotated Chart</h2>
      </div>
      <div class="body">
        <div id="chart-spline-rotated"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Step Chart</h2>
      </div>
      <div class="body">
        <div id="chart-step"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Step Chart Fill</h2>
      </div>
      <div class="body">
        <div id="chart-area-step"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Bar Chart</h2>
      </div>
      <div class="body">
        <div id="chart-bar"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Bar Rotated Chart</h2>
      </div>
      <div class="body">
        <div id="chart-bar-rotated"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Stacked Bar Chart</h2>
      </div>
      <div class="body">
        <div id="chart-bar-stacked"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Pie Chart</h2>
      </div>
      <div class="body">
        <div id="chart-pie"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Donut Chart</h2>
      </div>
      <div class="body">
        <div id="chart-donut"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>scatter Chart</h2>
      </div>
      <div class="body">
        <div id="chart-scatter"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Combination chart</h2>
      </div>
      <div class="body">
        <div id="chart-combination"></div>
      </div>
    </div>
  </div>
</div>
