<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Pricing</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
                <li class="breadcrumb-item">Extra</li>
                <li class="breadcrumb-item active">Pricing</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">
                    <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
                    &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                </div>
                <div class="p-2 d-flex">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 cool-md-6 col-sm-12">
        <div class="card">
            <ul class="pricing body">
                <li>Start</li>
                <li>Responsive Design</li>
                <li>Color Customization</li>
                <li>HTML5 &amp; CSS3</li>
                <li>Styled elements</li>
                <li>
                    <h3>$199</h3>
                    <span>per month</span>
                </li>
                <li><button class="btn btn-outline-secondary">Join Now</button></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
        <div class="card">
            <ul class="pricing body active">
                <li>Good</li>
                <li>Responsive Design</li>
                <li>Color Customization</li>
                <li>HTML5 &amp; CSS3</li>
                <li>Styled elements</li>
                <li>
                    <h3>$299</h3>
                    <span>per month</span>
                </li>
                <li><button class="btn btn-primary ">Join Now</button></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
        <div class="card">
            <ul class="pricing body">
                <li>Ultima</li>
                <li>Responsive Design</li>
                <li>Color Customization</li>
                <li>HTML5 &amp; CSS3</li>
                <li>Styled elements</li>
                <li>
                    <h3>$399</h3>
                    <span>per month</span>
                </li>
                <li><button class="btn btn-outline-secondary">Join Now</button></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
        <div class="card">
            <ul class="pricing body">
                <li>Vip</li>
                <li>Responsive Design</li>
                <li>Color Customization</li>
                <li>HTML5 &amp; CSS3</li>
                <li>Styled elements</li>
                <li>
                    <h3>$799</h3>
                    <span>per month</span>
                </li>
                <li><button class="btn btn-outline-secondary">Join Now</button></li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-12">
        <h5>Pricing Table Option 2</h5>
        <hr>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing2">
            <div class="body">
                <div class="pricing-plan">
                    <img src="assets/images/paper-plane.png" alt="" class="pricing-img">
                    <h2 class="pricing-header">Start</h2>
                    <ul class="pricing-features">
                        <li>Responsive Design</li>
                        <li>Color Customization</li>
                        <li>HTML5 &amp; CSS3</li>
                        <li>Styled elements</li>
                    </ul>
                    <span class="pricing-price">Free</span>
                    <a href="javascript:void(0);" class="btn btn-outline-primary">Sign up</a>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing2">
            <div class="body">
                <div class="pricing-plan">
                    <img src="assets/images/plane.png" alt="" class="pricing-img">
                    <h2 class="pricing-header">Good</h2>
                    <ul class="pricing-features">
                        <li>Responsive Design</li>
                        <li>Color Customization</li>
                        <li>HTML5 &amp; CSS3</li>
                        <li>Styled elements</li>
                    </ul>
                    <span class="pricing-price">$149</span>
                    <a href="javascript:void(0);" class="btn btn-primary">Join Now</a>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing2">
            <div class="body">
                <div class="pricing-plan">
                    <img src="assets/images/space-ship.png" alt="" class="pricing-img">
                    <h2 class="pricing-header">Ultima</h2>
                    <ul class="pricing-features">
                        <li>Responsive Design</li>
                        <li>Color Customization</li>
                        <li>HTML5 &amp; CSS3</li>
                        <li>Styled elements</li>
                    </ul>
                    <span class="pricing-price">$349</span>
                    <a href="javascript:void(0);" class="btn btn-outline-primary">Join Now</a>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-12">
        <h5>Pricing Table Option 3</h5>
        <hr>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing3">
            <div class="body">
                <div class="pricing-option">
                    <i class="icon-screen-desktop"></i>
                    <h5>Ui design</h5>
                    <hr>
                    <div class="m-t-30 m-b-30">
                        <h6>Files</h6>
                        <p>.PSD .AI .PNG .SVG<br>Licensed for 1 project</p>
                    </div>
                    <div class="price">
                        <span class="price">149 <b>$</b></span>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary">Purchase now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing3">
            <div class="body">
                <div class="pricing-option">
                    <i class="icon-user"></i>
                    <h5>Ux design</h5>
                    <hr>
                    <div class="m-t-30 m-b-30">
                        <h6>Files</h6>
                        <p>.PSD .AI .PNG .SVG<br>Licensed for 5 project</p>
                    </div>
                    <div class="price">
                        <span class="price">249 <b>$</b></span>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary">Purchase now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card pricing3">
            <div class="body">
                <div class="pricing-option">
                    <i class="icon-printer"></i>
                    <h5>Print design</h5>
                    <hr>
                    <div class="m-t-30 m-b-30">
                        <h6>Files</h6>
                        <p>.PSD .AI .PNG .SVG<br>Licensed for 1 project</p>
                    </div>
                    <div class="price">
                        <span class="price">349 <b>$</b></span>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary">Purchase now</a>
                </div>
            </div>
        </div>
    </div>
</div>
