<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Testimonials</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Extra</li>
        <li class="breadcrumb-item active">Testimonials</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="testimonial4">
              <div class="active item">
                <blockquote class="danger">
                  <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
                    consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                </blockquote>
                <div class="carousel-info">
                  <img class="rounded-circle float-left" src="assets/images/xs/avatar1.jpg" alt="">
                  <div class="float-left">
                    <h6 class="mb-0 m-t-5">Lina Mars</h6>
                    <span>Web Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="testimonial4">
              <div class="active item">
                <blockquote class="primary">
                  <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
                    consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                </blockquote>
                <div class="carousel-info">
                  <img class="rounded-circle float-left" src="assets/images/xs/avatar2.jpg" alt="">
                  <div class="float-left">
                    <h6 class="mb-0 m-t-5">Orlando Lentz</h6>
                    <span>Commercial Director</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="testimonial4">
              <div class="active item">
                <blockquote class="info">
                  <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
                    consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                </blockquote>
                <div class="carousel-info">
                  <img class="rounded-circle float-left" src="assets/images/xs/avatar3.jpg" alt="">
                  <div class="float-left">
                    <h6 class="mb-0 m-t-5">Lina Mars</h6>
                    <span>Front End Developer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="testimonial4">
              <div class="active item">
                <blockquote class="warning">
                  <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
                    consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                </blockquote>
                <div class="carousel-info">
                  <img class="rounded-circle float-left" src="assets/images/xs/avatar4.jpg" alt="">
                  <div class="float-left">
                    <h6 class="mb-0 m-t-5">Robert Hammer</h6>
                    <span>Commercial Director</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
                  <ng-template ngbSlide>
                    <div class="carousel-item active">
                      <div class="testimonial4">
                        <div class="active item">
                          <blockquote class="warning">
                            <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit
                              amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum
                              dolor met.</p>
                          </blockquote>
                          <div class="carousel-info">
                            <img class="rounded-circle float-left" src="assets/images/xs/avatar4.jpg" alt="">
                            <div class="float-left">
                              <h6 class="mb-0 m-t-5">Robert Hammer</h6>
                              <span>Commercial Director</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="carousel-item active">
                      <div class="testimonial4">
                        <div class="active item">
                          <blockquote class="info">
                            <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit
                              amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum
                              dolor met.</p>
                          </blockquote>
                          <div class="carousel-info">
                            <img class="rounded-circle float-left" src="assets/images/xs/avatar3.jpg" alt="">
                            <div class="float-left">
                              <h6 class="mb-0 m-t-5">Lina Mars</h6>
                              <span>Front End Developer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="carousel-item active">
                      <div class="testimonial4">
                        <div class="active item">
                          <blockquote class="primary">
                            <p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit
                              amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum
                              dolor met.</p>
                          </blockquote>
                          <div class="carousel-info">
                            <img class="rounded-circle float-left" src="assets/images/xs/avatar2.jpg" alt="">
                            <div class="float-left">
                              <h6 class="mb-0 m-t-5">Orlando Lentz</h6>
                              <span>Commercial Director</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-3 col-md-6">
    <div class="card testimonials">
      <div class="body">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="m-t-30">
          <img class="media-object rounded-circle shadow" src="assets/images/xs/avatar1.jpg" alt="">
          <h6 class="mb-0 m-t-10">Steve Jobs</h6>
          <span>CEO, Apple inc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card testimonials">
      <div class="body">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="m-t-30">
          <img class="media-object rounded-circle shadow" src="assets/images/xs/avatar2.jpg" alt="">
          <h6 class="mb-0 m-t-10">Pamela Petrus</h6>
          <span>CEO, Apple inc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card testimonials">
      <div class="body">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="m-t-30">
          <img class="media-object rounded-circle shadow" src="assets/images/xs/avatar9.jpg" alt="">
          <h6 class="mb-0 m-t-10">Orlando Lentz</h6>
          <span>CEO, Apple inc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card testimonials">
      <div class="body">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="m-t-30">
          <img class="media-object rounded-circle shadow" src="assets/images/xs/avatar4.jpg" alt="">
          <h6 class="mb-0 m-t-10">Barbara Kelly</h6>
          <span>CEO, Apple inc</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="testimonial2 default">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar1.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Zahed Kamal</h6>
                  <span>Front End Developer</span>
                  <p><a href="javascript:void(0);">Touch Base Inc</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="testimonial2 primary">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar2.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Rose Rivera</h6>
                  <span>Web Designer</span>
                  <p><a href="javascript:void(0);">Wraptech Inc</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="testimonial3 default">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar1.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Zahed Kamal</h6>
                  <span>Front End Developer</span>
                  <p><a href="javascript:void(0);">Touch Base Inc</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="testimonial3 primary">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar2.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Rose Rivera</h6>
                  <span>Web Designer</span>
                  <p><a href="javascript:void(0);">Wraptech Inc</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="testimonial3 warning">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar5.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Frank Camly</h6>
                  <span>Angular Developer</span>
                  <p><a href="javascript:void(0);">ABC Base Inc</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="testimonial3 danger">
              <div class="testimonial-section">
                Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur
                adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
              </div>
              <div class="testimonial-desc">
                <img class="media-object rounded-circle shadow" src="assets/images/sm/avatar6.jpg" alt="">
                <div class="testimonial-writer">
                  <h6>Rose Rivera</h6>
                  <span>ASP MVC</span>
                  <p><a href="javascript:void(0);">ThemeTech Inc</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
