<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Gauge Chart</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Charts</li>
        <li class="breadcrumb-item active">Gauge Chart</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Guage Chart</h2>
      </div>
      <div class="body text-center">
        <h2 id="default-textfield" class="preview-textfield"></h2>
        <!-- <canvas id="gauge-default"></canvas> -->
        <div id="gauge-default">
          <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
            [options]="options"></rg-gauge-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Guage Donut</h2>
      </div>
      <div class="body text-center">
        <h2 id="donut-textfield" class="preview-textfield"></h2>
        <div id="gauge-donut">
          <rg-gauge-chart [canvasWidth]="zonecanvasWidth" [needleValue]="zoneneedleValue"
            [centralLabel]="zonecentralLabel" [options]="zoneoptions"></rg-gauge-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Guage Step</h2>
      </div>
      <div class="body text-center">
        <h2 id="step-textfield" class="preview-textfield"></h2>
        <div echarts [options]="gaugeOption" id="gauge-zone" style="height: 400px"></div>
      </div>
    </div>
  </div>

</div>
