<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Employee Master</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">Payroll</li>
        <li class="breadcrumb-item active">Employee Master</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h2>Employee Master</h2>
      </div>
      <div class="body">
        <form [formGroup]="EmployeeForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row st-reg comn-form-area px-3">
            <div class="col-md-12 col-lg-3 form-group">
              <label>Code</label>
              <input type="text" class="form-control" formControlName="empRegNo"
                [ngClass]="{ 'is-invalid': submitted && f.empRegNo.errors }" required>
              <div *ngIf="submitted && f.empRegNo.errors" class="invalid-feedback">
                <div *ngIf="f.empRegNo.errors.required">Code is Required</div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>Machine Code</label>
              <input type="text" class="form-control" formControlName="machineCode">
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>Name</label>&nbsp;
              <label class="fancy-checkbox">
                <input type="checkbox" class="form-check-input" />
                <span>Smart Search</span>
              </label>
              <input type="text" class="form-control" formControlName="empName"
                [ngClass]="{ 'is-invalid': submitted && f.empName.errors }" required>
              <div *ngIf="submitted && f.empName.errors" class="invalid-feedback">
                <div *ngIf="f.empName.errors.required">Name is Required</div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>Father's Name</label>
              <input type="text" class="form-control" formControlName="fathername"
                [ngClass]="{ 'is-invalid': submitted && f.fathername.errors }" required>
              <div *ngIf="submitted && f.fathername.errors" class="invalid-feedback">
                <div *ngIf="f.fathername.errors.required">Father Name is Required</div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>Mobile No.</label>
              <input type="text" class="form-control" formControlName="mobileNo"
                [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" required>
              <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">MobileNo is Required</div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>Mobile No.2</label>
              <input type="text" class="form-control" formControlName="mobileNo2">
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>UID</label>
              <input type="text" class="form-control" formControlName="uid"
                [ngClass]="{ 'is-invalid': submitted && f.uid.errors }" required>
              <div *ngIf="submitted && f.uid.errors" class="invalid-feedback">
                <div *ngIf="f.uid.errors.required">UID is Required</div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 form-group">
              <label>A/C No.</label>
              <input type="text" class="form-control" formControlName="acno">
            </div>
            <div class="col-md-12 col-lg-12 form-group">
              <label>Address</label>
              <textarea type="text" class="form-control" rows="2" formControlName="address"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required></textarea>
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is Required</div>
              </div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Save</button>
          &nbsp; <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
        </form>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body table-responsive">
            <table class="table mb-0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Emp RegNo.</th>
                  <th scope="col">Emp Name</th>
                  <th scope="col">Father Name</th>
                  <th scope="col">Mobile No.</th>
                  <th scope="col">Mobile No.2</th>
                  <th scope="col">UID</th>
                  <th scope="col">A/c No</th>
                  <th scope="col">Machine Code</th>
                  <!-- <th scope="col">Status</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of EmpList; let i=index">
                  <th scope="row" [textContent]="i+1"></th>
                  <td [textContent]="item.empRegNo"></td>
                  <td [textContent]="item.empName"></td>
                  <td [textContent]="item.fathername"></td>
                  <td [textContent]="item.mobileNo"></td>
                  <td [textContent]="item.mobileNo2"></td>
                  <td [textContent]="item.uid"></td>
                  <td [textContent]="item.acno"></td>
                  <td [textContent]="item.m_code"></td>
                  <!-- <td><span class="badge badge-success">Active</span></td> -->
                  <td>
                    <button type="button" href="javascript:void(0);" class="btn btn-sm btn-outline-success" (click)="EditEmployee(item)"><i
                        class="icon-pencil"></i></button>&nbsp;
                    <button type="button" href="javascript:void(0);" class="btn btn-sm btn-outline-danger js-sweetalert"
                      title="Delete" data-type="confirm"><i class="icon-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>