<div class="file_manager">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>File Images</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
          <li class="breadcrumb-item">App</li>
          <li class="breadcrumb-item active">File Manager</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex flex-row-reverse">
          <div class="page_action">
            <button type="button" class="btn btn-primary mr-1">Generate Report</button>
            <button type="button" class="btn btn-secondary">Upload new</button>
          </div>
          <div class="p-2 d-flex">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/8.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/10.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/11.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/12.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/13.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/14.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="file">
          <a href="javascript:void(0);">
            <div class="hover">
              <button type="button" class="btn btn-icon btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="image">
              <img src="assets/images/image-gallery/15.jpg" alt="img" class="img-fluid">
            </div>
            <div class="file-name">
              <p class="m-b-5 text-muted">img21545ds.jpg</p>
              <small>Size: 2MB <span class="date text-muted">Dec 11, 2017</span></small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
