<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Buttons</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">UI Elements</li>
        <li class="breadcrumb-item active">Buttons</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Buttons</h2>
      </div>
      <div class="body">
        <button type="button" class="btn btn-primary">Primary</button> &nbsp;
        <button type="button" class="btn btn-secondary">Secondary</button> &nbsp;
        <button type="button" class="btn btn-success">Success</button> &nbsp;
        <button type="button" class="btn btn-danger">Danger</button> &nbsp;
        <button type="button" class="btn btn-warning">Warning</button> &nbsp;
        <button type="button" class="btn btn-info">Info</button> &nbsp;
        <button type="button" class="btn btn-light">Light</button> &nbsp;
        <button type="button" class="btn btn-dark">Dark</button> &nbsp;
        <button type="button" class="btn btn-link">Link</button> &nbsp;
      </div>
      <div class="body">
        <h6>Disabled State</h6>
        <button type="button" class="btn btn-primary disabled">Primary</button> &nbsp;
        <button type="button" class="btn btn-secondary disabled">Secondary</button> &nbsp;
        <button type="button" class="btn btn-success disabled">Success</button> &nbsp;
        <button type="button" class="btn btn-danger disabled">Danger</button> &nbsp;
        <button type="button" class="btn btn-warning disabled">Warning</button> &nbsp;
        <button type="button" class="btn btn-info disabled">Info</button> &nbsp;
        <button type="button" class="btn btn-light disabled">Light</button> &nbsp;
        <button type="button" class="btn btn-dark disabled">Dark</button> &nbsp;
        <button type="button" class="btn btn-link disabled">Link</button> &nbsp;
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Button tags</h2>
      </div>
      <div class="body">
        <a class="btn btn-primary" href="javascript:void(0);" role="button">Link</a>&nbsp;
        <button class="btn btn-primary" type="submit">Button</button> &nbsp;
        <input class="btn btn-primary" type="button" value="Input">&nbsp;
        <input class="btn btn-primary" type="submit" value="Submit">&nbsp;
        <input class="btn btn-primary" type="reset" value="Reset">&nbsp;
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Outline buttons</h2>
      </div>
      <div class="body">
        <button type="button" class="btn btn-outline-primary">Primary</button> &nbsp;
        <button type="button" class="btn btn-outline-secondary">Secondary</button> &nbsp;
        <button type="button" class="btn btn-outline-success">Success</button> &nbsp;
        <button type="button" class="btn btn-outline-danger">Danger</button> &nbsp;
        <button type="button" class="btn btn-outline-warning">Warning</button> &nbsp;
        <button type="button" class="btn btn-outline-info">Info</button> &nbsp;
        <button type="button" class="btn btn-outline-light">Light</button> &nbsp;
        <button type="button" class="btn btn-outline-dark">Dark</button> &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>Button group</h2>
      </div>
      <div class="body">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <hr>
        <h6>Button toolbar</h6>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">6</button>
            <button type="button" class="btn btn-secondary">7</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary">8</button>
          </div>
        </div>
        <hr>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">@</div>
            </div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
              aria-describedby="btnGroupAddon">
          </div>
        </div>
        <hr>
        <h6>Sizing</h6>
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <br><br>
        <div class="btn-group" role="group" aria-label="Default button group">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <br><br>
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <hr>
        <h6>Nesting</h6>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary">1</button>
          <button type="button" class="btn btn-secondary">2</button>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="javascript:void(0);">Dropdown link</a>
              <a class="dropdown-item" href="javascript:void(0);">Dropdown link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12">
    <div class="card">
      <div class="body">
        <p class="demo-button">
          <button type="button" class="btn btn-default"><i class="fa fa-plus-square"></i>
            <span>&nbsp;Default</span></button>&nbsp;
          <button type="button" class="btn btn-primary"><i class="fa fa-refresh"></i>
            <span>&nbsp;Primary</span></button>&nbsp;
          <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i>
            <span>&nbsp;Info</span></button>&nbsp;
          <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-refresh fa-spin"></i>
            <span>&nbsp;Refreshing...</span></button>&nbsp;
        </p>
        <br>
        <p class="demo-button">
          <button type="button" class="btn btn-success"><i class="fa fa-check-circle"></i> <span>
              Success</span></button>&nbsp;
          <button type="button" class="btn btn-warning"><i class="fa fa-warning"></i> <span>
              Warning</span></button>&nbsp;
          <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> <span> Danger</span></button>&nbsp;
          <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> <span>
              Loading...</span></button>&nbsp;
        </p>
        <br>
        <p class="demo-button">
          <button type="button" class="btn btn-danger"><i class="fa fa-heart"></i> <span> Love</span></button>&nbsp;
          <button type="button" class="btn btn-danger"><span> Love </span> <i class="fa fa-heart"></i></button>&nbsp;
          <button type="button" class="btn btn-danger"><span class="sr-only"> Love </span> <i
              class="fa fa-heart"></i></button>&nbsp;
        </p>
        <br>
        <p class="demo-button">
          <button type="button" class="btn btn-default" title="Refresh"><span class="sr-only"> Refresh</span> <i
              class="fa fa-refresh"></i></button>&nbsp;
          <button type="button" class="btn btn-default" title="Copy"><span class="sr-only"> Copy</span> <i
              class="fa fa-files-o"></i></button>&nbsp;
          <button type="button" class="btn btn-success" title="Save"><span class="sr-only"> Save</span> <i
              class="fa fa-save"></i></button>&nbsp;
          <button type="button" class="btn btn-danger" title="Delete"><span class="sr-only"> Delete</span> <i
              class="fa fa-trash-o"></i></button>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>
