<div id="wrapper" class="theme-cyan">

  <div class="vertical-align-wrap">
    <div class="vertical-align-middle maintenance">

      <div class="text-center">
        <article>
          <h1>We&rsquo;ll be back soon!</h1>
          <div>
            <p>Sorry for the inconvenience<br> but we&rsquo;re performing some maintenance at the moment.<br> If you
              need to you can always <a href="mailto:#">contact us</a>, otherwise we&rsquo;ll be back online shortly!
            </p>
            <p>&mdash; The Team</p>
          </div>
        </article>
        <div class="margin-top-30">
          <a href="javascript:void(0)" (click)="backClicked()" class="btn btn-default mr-1"><i
              class="fa fa-arrow-left mr-1"></i> <span>Go Back</span></a>
          <a [routerLink]="['/dashboard/analytical']" class="btn btn-info"><i class="fa fa-home mr-1"></i>
            <span>Home</span></a>
        </div>
      </div>
    </div>
  </div>

</div>
