.btn-primary {
    color: #fff!important;
    background-color: #59C4BC!important;
    border-color: #59C4BC!important;
}

.btn-secondary {
    color: #fff!important;
    background-color: #637AAE!important;
    border-color: #637AAE!important;
}

div.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}