<div class="block-header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Modals Popups</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="breadcrumb-item">UI Elements</li>
        <li class="breadcrumb-item active">Modals</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex flex-row-reverse">
        <div class="page_action">
          <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
          &nbsp;<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
        </div>
        <div class="p-2 d-flex">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Modal Default Size</h2>
      </div>
      <div class="body">
        <a href="javascript:void(0)" (click)="openModal(content,'md')" data-toggle="modal" data-target="#defaultModal">
          <img class="img-thumbnail img-fluid" src="assets/images/model1.jpg" alt="User">
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Modal Large Size</h2>
      </div>
      <div class="body">
        <a href="javascript:void(0)" (click)="openModal(content,'lg')" data-toggle="modal" data-target="#largeModal">
          <img class="img-thumbnail img-fluid" src="assets/images/model2.jpg" alt="User">
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2>Modal Small Size</h2>
      </div>
      <div class="body">
        <a href="javascript:void(0)" (click)="openModal(content,'sm')" data-toggle="modal" data-target="#smallModal">
          <img class="img-thumbnail img-fluid" src="assets/images/model3.jpg" alt="User">
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="title" id="defaultModalLabel">Modal title</h4>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut.
      Ut accumsan
      vitae eros sit amet Integer dapibus, mi ac tempor varius, purus nibh mattis erat, vitae porta nunc nisi non
      tellus. Vivamus mollis ante non massa egestas fringilla.
      Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc. </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-simple btn-round"
      (click)="modal.dismiss('Close click')">CLOSE</button>
  </div>
</ng-template>
