<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>iOT Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i></a></li>
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">IOT</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">
                    <button type="button" class="btn btn-primary mr-1"><i class="fa fa-download"></i> Download report</button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                </div>
                <div class="p-2 d-flex">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix row-deck">
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card number-chart">
          <div class="body">
              <span class="text-uppercase">ENERGY USE</span>
              <h4 class="mb-0 mt-2">250 kw/h <i class="fa fa-level-up font-12"></i></h4>
              <small class="text-muted">Analytics for last week</small>
          </div>
          <div echarts [options]="energyUse" class="sparkline" style="height:95px;"></div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card number-chart">
          <div class="body">
              <span class="text-uppercase">LIGHTS</span>
              <h4 class="mb-0 mt-2">6 Lights are ON</h4>
              <small class="text-muted">Analytics for last week</small>
          </div>
          <div echarts [options]="light" class="sparkline" style="height:95px;"></div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card number-chart">
          <div class="body">
              <span class="text-uppercase">DAILY AVG TEMPRATURE</span>
              <h4 class="mb-0 mt-2">20° C</h4>
              <small class="text-muted">Analytics for last week</small>
          </div>
          <div echarts [options]="dailyAvgTemp" class="sparkline" style="height:95px;"></div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
          <div class="body d-flex justify-content-between">
              <div>
                  <h6 class="mb-0">Security System</h6>
                  <small class="text-success">Triggered</small><small class="text-danger d-none">Loosed</small>
              </div>
              <div>
                  <button class="btn btn-outline-danger" type="button">Loose</button>
                  <button class="btn btn-outline-success d-none" type="button">Trigger</button>
              </div>
          </div>
          <hr>
          <div class="body d-flex justify-content-between">
              <div>
                  <h6 class="mb-0">Main Gate</h6>
                  <small class="text-success d-none">Closed</small><small class="text-danger">Opened</small>
              </div>
              <div>
                  <button class="btn btn-outline-danger d-none" type="button">Open</button>
                  <button class="btn btn-outline-success" type="button">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row clearfix row-deck">
    <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Spending by Year</h2>
                <ul class="header-dropdown">
                    <ico-common-action-dropdown></ico-common-action-dropdown>
                </ul>
            </div>
            <div class="body">
                <div echarts [options]="spendingOption" id="Google-Analytics-Dashboard" style="height: 210px"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card appliances-grp">
            <div class="body clearfix">
                <div class="icon"><img alt="" src="assets/images/air-conditioner.png"></div>
                <div class="content">
                    <h6>Air Conditioner <span class="text-success">On</span></h6>
                    <p>Temprature <span class="text-warning">25° C</span></p>
                    <p>Status <span class="text-warning">Cooling On</span></p>
                </div>
            </div>
            <div class="body clearfix">
                <div class="icon"><img alt="" src="assets/images/fridge.png"></div>
                <div class="content">
                    <h6>Fridge <span class="text-success">On</span></h6>
                    <p>Temprature <span class="text-primary">10° C</span></p>
                    <p>Status <span class="text-success">Stand By</span></p>
                </div>
            </div>
            <div class="body clearfix">
                <div class="icon"><img alt="" src="assets/images/washing-machine.png"></div>
                <div class="content">
                    <h6>Washing Machine <span class="text-success">On</span></h6>
                    <p>Remaining Time <span class="text-primary">01:23:21</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Day/Night Use</h2>
                <ul class="header-dropdown">
                    <ico-common-action-dropdown></ico-common-action-dropdown>
                </ul>
            </div>
            <div class="body">
                <div echarts [options]="DayNightDonutOption" id="DayNight-Use" style="height: 13rem" [autoResize]="true"></div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix row-deck">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <div class="header">
            <h2>Lights Indoor</h2>
            <ul class="header-dropdown m-r--5">
                <ico-common-action-dropdown></ico-common-action-dropdown>
            </ul>
        </div>
        <div class="body">
            <ul class="list-group">
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Kitchen</h6>
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="toggle-switch-slider"></span>
                    </label>
                </li>
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Dining Room</h6>
                    <label class="toggle-switch">
                        <input type="checkbox" checked="">
                        <span class="toggle-switch-slider"></span>
                    </label>
                </li>
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Living Room</h6>
                    <span class="text-danger">Not Connected</span>
                </li>
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Kitchen</h6>
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="toggle-switch-slider"></span>
                    </label>
                </li>
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Bath Room</h6>
                    <label class="toggle-switch">
                        <input type="checkbox" checked="">
                        <span class="toggle-switch-slider"></span>
                    </label>
                </li>
                <li class="d-flex justify-content-between list-group-item align-items-center">
                    <h6 class="mb-0">Store Room</h6>
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="toggle-switch-slider"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Lights Outdoor</h2>
                <ul class="header-dropdown m-r--5">
<ico-common-action-dropdown></ico-common-action-dropdown>
                </ul>
            </div>
            <div class="body">
                <ul class="list-group">
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Front Door</h6>
                        <label class="toggle-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Garage</h6>
                        <label class="toggle-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Garden</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Back Door</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Pool</h6>
                        <span class="text-danger">Fused</span>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Main Door</h6>
                        <label class="toggle-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Other Appliences</h2>
                <ul class="header-dropdown m-r--5">
<ico-common-action-dropdown></ico-common-action-dropdown>
                </ul>
            </div>
            <div class="body">
                <ul class="list-group">
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">TV</h6>
                        <label class="toggle-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Apple Tv</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Sound Ststem</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Air Conditioner</h6>
                        <label class="toggle-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Fridge</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between list-group-item align-items-center">
                        <h6 class="mb-0">Washing Machine</h6>
                        <label class="toggle-switch">
                            <input type="checkbox" checked="">
                            <span class="toggle-switch-slider"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
